
body {
    font-family: Sans-Serif;
    background-color: darkgray;
}

.header {
    height: 60px;
    padding-top: 6px;
    background-color: black;
    color: white;
    /* font-weight: bold; */
    font-size: 24pt;
}

.header a {
    color: white;
}

#commands {
    padding-top: 8px;
    height: 48px;
    background-color: lightgray;
}

.path-control {
    width: 350px;
}

.footer {
    font-size: 10px;
}

.hooks {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #002240;
    color: white;
    font-family: "Source Code Pro";
    font-size: 16px;
    border: 1px solid gray;
    white-space: nowrap;
}

.hook-list-item {
    width: 100%;
    display: inline-block;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
}

.editor {
    height: 100%;
}

.selected {
    background-color: dodgerblue;
    font-weight: bold;
    cursor: auto;
}

.hover {
    background-color: darkgreen;
    font-weight: bold;
    cursor: pointer;
}
